<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a ui-sref="author.create" class="create">New Author</a></li>
    </ul>
</div>
<div id="list-author" class="content scaffold-list" role="main">
    <h1>Author List</h1>
    <table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-class="{'even': $index%2 == 0, 'odd': $index%2 == 1}" ng-repeat="author in vm.authorList">
      <td>
        <a ui-sref="author.show({id: author.id})">{{author.id}}</a>
      </td>
      <td>
        <span>{{author.name}}</span>
      </td>
    </tr>
  </tbody>
</table>
    <!--    <div class="pagination">
            <g:paginate total="${partCount ?: 0}" />
        </div>-->
</div>